/*******************************************************
TITLE: Fixed One-Column #2 Layout (Basic) V1.0 (Beta)
DATE: 20070807
AUTHOR: The CSS Tinderbox - http://www.csstinderbox.com
*******************************************************/

body {
margin:10px;
padding:0;
height:100%;
background-color:#fff;
color:#000000;  
text-align:center;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
}

blockquote {
margin:1em;
padding:.5em;
background-color:#eeeeee;
border-top:1px solid #cccccc;
border-bottom:1px solid #cccccc;
}

blockquote p {
margin:.2em;
}

#container { 	
margin:0 auto;
padding:0;
width:980px;
text-align:left;
vertical-align: middle;	
background-color:#ffffff;
border:1px solid #cccccc;

}

#header {
margin:0;
padding:0;
height:88px;
background-image:url(images/ecobank_logo.png);
background-repeat:no-repeat;
/*background-color:#2c2c2c;*/
}

#header h1 {
margin:0;
padding:20px 0 0 20px;
font-size:1.8em;
font-style:italic;
letter-spacing:.1em;
color:#ffffff;
font-weight:lighter;
}

#header h2 {
margin:0;
padding:0 0 0 20px;
font-size:.9em;
font-weight:lighter;
letter-spacing:.1em;
color:#eeeeee;
}

#TopColumn {
	float: left;
	padding:0;
	width:600px;
	font-size:.9em;
	margin-top: 63px;
	margin-left: 205px;
	margin-bottom: 0px;
}

#leftColumn {
float:left;
font-size:.9em;
width:250px;

}

#leftColumn p {
padding:10px
}


#leftColumn h2 {
margin:0;
padding:10px 0 0 10px;
font-size:1em;
}

#leftColumn ul {
margin:0 0 0 0;
list-style-type:none;
}

#leftColumn li {
margin:4px 0 5px 10px;
}

#leftColumn li a {
text-decoration:underline;
}

#leftColumn li a:hover{
text-decoration:none;
}

#leftColumn ol
{
	margin:0 0 0 0;
	list-style-type:decimal-leading-zero;
}
#centerColumn { 
width:auto;
margin:0 0 0 200px;
padding:0;
background-color:#ffffff;
}

#centerColumn p {
padding:10px
}

#centerColumn h2 {
margin:0;
padding:10px 0 5px 0;
font-size:1.3em;
letter-spacing:.1em;
}


#footer {

border-top: 1px solid #aaa;
text-align: center;
color: #333;
font-size: 11px;
padding: 0 0 10px 0;
margin-top: 10px;
/*bottom:0;
margin:0 auto;
padding:0;
height:60px;
line-height:60px;
text-align:center;
font-size:.6em;
background-color:#ffffff;
border-top:1px solid #cccccc;*/
}
.no a{text-decoration:none;}
/* Navigattion */
.dm1 {
    
}
.dm1 .item1,
.dm1 .item1:hover,
.dm1 .item1-active,
.dm1 .item1-active:hover {
    padding: 3px 8px 4px 8px;
    border: 1px #003366;
    border-style: solid none solid none;
    text-decoration: none;
    display: block;
    position: relative;
}
.dm1 .item1 {
    background:#090;
    color: #ffffff;
}
.dm1 .item1:hover,
.dm1 .item1-active,
.dm1 .item1-active:hover {
    background: #03F;
    color: #ffffff;
}
.dm1 .item2,
.dm1 .item2:hover {
    padding: 3px 8px 4px 8px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}
.dm1 .item2 {
    background: #3264C7;
    color: #ffffff;
}
.dm1 .item2:hover {
    background: #6699FF;
    color: #ffffff;
}
.dm1 .section {
    border: 1px #003366;
    border-style: solid solid solid solid;
    position: absolute;
    visibility: hidden;
    z-index: -1;
    white-space: nowrap;
}
.dm1 .left, .dm1 .left:hover { border-style: solid none solid solid; }
.dm1 .right, .dm1 .right:hover { border-style: solid solid solid none; }

* html .dm1 td { position: relative; } /* ie 5.0 fix */


/* tree menu */

  div.left {
        background: #fff;
    }

td.top {
        background-color: #999999;
        line-height: 26px;
        text-indent: 10px;
        font-size: 13px;
        font-weight: bold;
        font-family: tahoma;
        color: #ffffff;
    }
    td.section {
        padding: 6px 12px;
    }
    .bar-menu {
        -moz-user-select: none;
    }
    .bar-menu .box1 {
        background: url("images/tree-node.gif") no-repeat;
        padding-left: 19px;
        cursor: default;
    }
    .bar-menu .box1-open {
        background: url("images/tree-node-open.gif") no-repeat;
        padding-left: 19px;
        cursor: default;
    }
    .bar-menu .box1,
    .bar-menu .box1-open, {
        color: #000000;
        font-family: arial;
        font-size: 12px;
    }
    /* mozilla fix */
    html>body .bar-menu .box1,
    html>body .bar-menu .box1-open {
        color: #000000;
        font-family: arial;
        font-size: 12px;
        line-height: 16px;
        padding-bottom: 1px;
    }
    /* ie fix */
    * html .bar-menu .box1,
    * html .bar-menu .box1-open {
        color: #000000;
        font-family: arial;
        font-size: 12px;
        height: 16px;
    }
    .bar-menu .section {
        font-family: arial;
        font-size: 12px;
        line-height: 16px;
        display: none;
    }
    .bar-menu .section a {
        color: #000000;
        text-decoration: none;
        white-space: nowrap;
    }
    .bar-menu .section a:hover {
        color: #0000ff;
        text-decoration: none;
        white-space: nowrap;
    }
    .bar-menu .box2 {
        background: url("images/tree-leaf.gif") no-repeat;
        padding-left: 19px;
    }
    .bar-menu .box2-last {
        background: url("images/tree-leaf-last.gif") no-repeat;
        padding-left: 19px;
    }
