/* begin Page */
/* Created by Artisteer v3.0.0.45570 */

#rho-main, table
{
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
    margin: 0;
    padding: 0;
}

.rho-postcontent,
.rho-postcontent li,
.rho-postcontent table,
.rho-postcontent a,
.rho-postcontent a:link,
.rho-postcontent a:visited,
.rho-postcontent a.visited,
.rho-postcontent a:hover,
.rho-postcontent a.hovered
{
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.rho-postcontent p
{
    margin: 12px 0;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
{
  font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  text-decoration: none;
}

.rho-postcontent a
{
  text-decoration: underline;
  color: #4C7132;
}

.rho-postcontent a:link
{
  text-decoration: underline;
  color: #4C7132;
}

.rho-postcontent a:visited, .rho-postcontent a.visited
{
  color: #5F7077;
}

.rho-postcontent  a:hover, .rho-postcontent a.hover
{
  text-decoration: none;
  color: #7AB9DC;
}

.rho-postcontent h1
{
   color: #49555B;
margin: 12px 0;    
}

.rho-blockcontent h1
{
margin: 12px 0; 
}

.rho-postcontent h2
{
   color: #49555B;
margin: 13px 0;
   font-size: 18px;    
}

.rho-blockcontent h2
{
margin: 13px 0;
   font-size: 18px; 
}

.rho-postcontent h2 a, .rho-postcontent h2 a:link, .rho-postcontent h2 a:hover, .rho-postcontent h2 a:visited, .rho-blockcontent h2 a, .rho-blockcontent h2 a:link, .rho-blockcontent h2 a:hover, .rho-blockcontent h2 a:visited 
{
   font-size: 18px; 
}

.rho-postcontent h3
{
   color: #5F7077;
margin: 16px 0;
   font-size: 18px;    
}

.rho-blockcontent h3
{
margin: 16px 0;
   font-size: 18px; 
}

.rho-postcontent h3 a, .rho-postcontent h3 a:link, .rho-postcontent h3 a:hover, .rho-postcontent h3 a:visited, .rho-blockcontent h3 a, .rho-blockcontent h3 a:link, .rho-blockcontent h3 a:hover, .rho-blockcontent h3 a:visited 
{
   font-size: 18px; 
}

.rho-postcontent h4
{
   color: #202528;
margin: 18px 0;
   font-size: 15px;    
}

.rho-blockcontent h4
{
margin: 18px 0;
   font-size: 15px; 
}

.rho-postcontent h4 a, .rho-postcontent h4 a:link, .rho-postcontent h4 a:hover, .rho-postcontent h4 a:visited, .rho-blockcontent h4 a, .rho-blockcontent h4 a:link, .rho-blockcontent h4 a:hover, .rho-blockcontent h4 a:visited 
{
   font-size: 15px; 
}

.rho-postcontent h5
{
   color: #202528;
margin: 20px 0;
   font-size: 13px;    
}

.rho-blockcontent h5
{
margin: 20px 0;
   font-size: 13px; 
}

.rho-postcontent h5 a, .rho-postcontent h5 a:link, .rho-postcontent h5 a:hover, .rho-postcontent h5 a:visited, .rho-blockcontent h5 a, .rho-blockcontent h5 a:link, .rho-blockcontent h5 a:hover, .rho-blockcontent h5 a:visited 
{
   font-size: 13px; 
}

.rho-postcontent h6
{
   color: #30383B;
margin: 25px 0;
   font-size: 12px;    
}

.rho-blockcontent h6
{
margin: 25px 0;
   font-size: 12px; 
}

.rho-postcontent h6 a, .rho-postcontent h6 a:link, .rho-postcontent h6 a:hover, .rho-postcontent h6 a:visited, .rho-blockcontent h6 a, .rho-blockcontent h6 a:link, .rho-blockcontent h6 a:hover, .rho-blockcontent h6 a:visited 
{
   font-size: 12px; 
}

ul
{
  list-style-type: none;
}

ol
{
  list-style-position: inside;
}

html 
{
    height:100%;
}

#rho-main
{
  position: relative;
  z-index: 0;
  width: 100%;
  left: 0;
  top: 0;
  cursor:default;
  overflow:visible;
}

body
{
  padding: 0; 
  margin:0;
  color: #202528;
  height:100%;
  min-height:100%;
  background-color: #DADFE1;
  min-width: 700px;
}

.cleared
{
  display:block;
  clear: both;
  float: none;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 0;
  height:0;
  overflow:hidden;
}

.reset-box
{
  overflow:hidden;
  display:table; 
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}

/* end Page */

/* begin Header */
div.rho-header
{
    margin: 0 auto;
  position: relative;
  z-index: -1;
  width:100%;
  height: 100px;
  margin-top: 0;
  margin-bottom: 0;
}

div.rho-header-clip
{
  position: absolute;
  width:100%;
  left:0;
  overflow:hidden;
  height:100px;
}

.rho-header-wrapper 
{
        min-width: 700px;
    max-width: 1920px;    
        position: relative;
    width:100%;
    margin:0 auto;
}
.rho-header-inner 
{
    margin: 0 14px;
}

div.rho-header-center
{
	position: relative;
	width: 1940px;
	left:50%;
}

div.rho-header-jpeg
{
  position: absolute;
  top: 0;
  left:-50%;
  width: 1940px;
  height: 100px;
  background-image: url('images/header.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}
/* end Header */

/* begin Logo */
div.rho-logo
{
  display: block;
  position: absolute;
  top: 12px;
  left: 50%;
  margin-left: -349px;
  width: 699px;
}

h1.rho-logo-name
{
  display: block;
  text-align: center;
  font-size: 31px;
  padding: 0;
  margin: 0;
  color: #14394D !important;
}
h1.rho-logo-name a, 
h1.rho-logo-name a:link, 
h1.rho-logo-name a:visited, 
h1.rho-logo-name a:hover
{
  font-size: 31px;
  padding: 0;
  margin: 0;
  color: #14394D !important;
}

h2.rho-logo-text
{
  display: block;
  text-align: center;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 17px;
  padding: 0;
  margin: 0;
  color: #14394D !important;
}
h2.rho-logo-text a,
h2.rho-logo-text a:link,
h2.rho-logo-text a:visited,
h2.rho-logo-text a:hover
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 17px;
  padding: 0;
  margin: 0;
  color: #14394D !important;
}

#headline, #slogan 
{
    display: block;
    min-width: 150px;
    text-align: center;
}
/* end Logo */

/* begin Box, Sheet */
.rho-sheet
{
  position: relative;
  margin: 0 auto;
  min-height: 15px;
  margin-top: -23px;
  margin-bottom: -3px;
  cursor:auto;
  width: 100%;
  min-width: 700px;
  max-width: 1920px;
}

.rho-sheet-body
{
  position: relative;
  padding: 14px;
    padding-top:14px;
    padding-bottom:14px;
}

.rho-sheet-tr, .rho-sheet-tl, .rho-sheet-br, .rho-sheet-bl, .rho-sheet-tc, .rho-sheet-bc,.rho-sheet-cr, .rho-sheet-cl
{
  position: absolute;
}

.rho-sheet-tr, .rho-sheet-tl, .rho-sheet-br, .rho-sheet-bl
{
  width: 26px;
  height: 26px;
  background-image: url('images/sheet_s.png');
}

.rho-sheet-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 13px, 13px, auto);
}

.rho-sheet-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 13px, 13px);
}

.rho-sheet-bl
{
  bottom: 0;
  left: 0;
  clip: rect(13px, 13px, auto, auto);
}

.rho-sheet-br
{
  bottom: 0;
  right: 0;
  clip: rect(13px, auto, auto, 13px);
}

.rho-sheet-tc, .rho-sheet-bc
{
  left: 13px;
  right: 13px;
  height: 26px;
  background-image: url('images/sheet_h.png');
}

.rho-sheet-tc
{
  top: 0;
  clip: rect(auto, auto, 13px, auto);
}

.rho-sheet-bc
{
  bottom: 0;
  clip: rect(13px, auto, auto, auto);
}

.rho-sheet-cr, .rho-sheet-cl
{
  top: 13px;
  bottom: 13px;
  width: 26px;
  background-image: url('images/sheet_v.png');
}

.rho-sheet-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 13px);
}

.rho-sheet-cl
{
  left: 0;
  clip: rect(auto, 13px, auto, auto);
}

.rho-sheet-cc
{
  position: absolute;
  top: 13px;
  left: 13px;
  right: 13px;
  bottom: 13px;
  background-color: #FFFFFF;
}

#rho-page-background-top-texture, #rho-page-background-middle-texture, #rho-page-background-glare
{
  min-width: 100%;
}

/* end Box, Sheet */

/* begin Menu */
/* menu structure */

.rho-hmenu a, .rho-hmenu a:link, .rho-hmenu a:visited, .rho-hmenu a:hover
{
    outline: none;
}

.rho-hmenu, .rho-hmenu ul
{
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  display: block;
}

.rho-hmenu li
{
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  float: left;
  position: relative;
  z-index: 5;
  background: none;
}

.rho-hmenu li:hover
{
  z-index: 10000;
  white-space: normal;
}

.rho-hmenu li li
{
  float: none;
}

.rho-hmenu ul
{
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background: none;
  min-height: 0;
  background-image: url('images/spacer.gif');
  padding: 10px 30px 30px 30px;
  margin: -10px 0 0 -30px;
}

.rho-hmenu li:hover>ul
{
  visibility: visible;
  top: 100%;
}

.rho-hmenu li li:hover>ul
{
  top: 0;
  left: 100%;
}

.rho-hmenu:after, .rho-hmenu ul:after
{
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}
.rho-hmenu{
  min-height: 0;
  position:relative;
  padding: 8px 3px 0 3px;
}

.rho-hmenu ul ul
{
  padding: 30px 30px 30px 10px;
  margin: -30px 0 0 -10px;
}

/* menu structure */

.rho-nav
{
   position: relative;
  margin:0 auto;
  min-height: 32px;
  z-index: 100;
    margin-top: 0;
    margin-bottom: 0;
}

.rho-nav-outer
{
    position:absolute;
    width:100%;
}

.rho-nav-l, .rho-nav-r
{
  position: absolute;
  z-index: -1;
  top: 0;
  height: 100%;
  background-image: url('images/nav.png');
}

.rho-nav-l
{
  left: 0;
  right: 0;
}

.rho-nav-r
{
  right: 0;
  width: 1920px;
  clip: rect(auto, auto, auto, 1920px);
}

/* end Menu */

/* begin MenuItem */
.rho-hmenu a
{
  position: relative;
  display: block;
  overflow: hidden;
  height: 24px;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
}

.rho-hmenu ul li
{
    margin:0;
    clear: both;
}

.rho-hmenu a .r, .rho-hmenu a .l
{
  position: absolute;
  display: block;
  top: 0;
  z-index: -1;
  height: 82px;
  background-image: url('images/menuitem.png');
}

.rho-hmenu a .l
{
  left: 0;
  right: 13px;
}

.rho-hmenu a .r
{
  width: 426px;
  right: 0;
  clip: rect(auto, auto, auto, 413px);
}

.rho-hmenu a .t, .rho-hmenu ul a, .rho-hmenu a:link, .rho-hmenu a:visited, .rho-hmenu a:hover
{
  text-align: left;
  text-decoration: none;
}

.rho-hmenu a .t
{
  color: #E1EED8;
  padding: 0 0;
  margin: 0 13px;
  line-height: 24px;
  text-align: center;
}

.rho-hmenu a:hover .l, .rho-hmenu a:hover .r
{
  top: -29px;
}

.rho-hmenu li:hover>a .l, .rho-hmenu li:hover>a .r
{
  top: -29px;
}

.rho-hmenu li:hover a .l, .rho-hmenu li:hover a .r
{
  top: -29px;
}
.rho-hmenu a:hover .t
{
  color: #DADFE1;
}

.rho-hmenu li:hover a .t
{
  color: #DADFE1;
}

.rho-hmenu li:hover>a .t
{
  color: #DADFE1;
}

.rho-hmenu a.active .l, .rho-hmenu a.active .r
{
  top: -58px;
}

.rho-hmenu a.active .t
{
  color: #3C5927;
}
/* end MenuItem */

/* begin MenuSeparator */
.rho-hmenu .rho-hmenu-li-separator
{
  display: block;
  width: 6px;
  height:24px;
}
/* end MenuSeparator */

/* begin MenuSubItem */
.rho-hmenu ul a
{
  display: block;
  white-space: nowrap;
  height: 20px;
  width: 180px;
  overflow: hidden;
  background-image: url('images/subitem.png');
  background-position: left top;
  background-repeat: repeat-x;
  border-width: 0;
  border-style: solid;
  text-align: left;
  text-indent: 12px;
  text-decoration: none;
  line-height: 20px;
  color: #2D431E;
  margin:0;
  padding:0;
}

.rho-nav ul.rho-hmenu ul span, .rho-nav ul.rho-hmenu ul span span
{
  display: inline;
  float: none;
  margin: inherit;
  padding: inherit;
  background-image: none;
  text-align: inherit;
  text-decoration: inherit;
}

.rho-hmenu ul a:link, .rho-hmenu ul a:visited, .rho-hmenu ul a:hover, .rho-hmenu ul a:active, .rho-nav ul.rho-hmenu ul span, .rho-nav ul.rho-hmenu ul span span
{
  text-align: left;
  text-indent: 12px;
  text-decoration: none;
  line-height: 20px;
  color: #2D431E;
  margin:0;
  padding:0;
}

.rho-hmenu ul li a:hover
{
  color: #0B0D0E;
  background-position: 0 -20px;
}

.rho-hmenu ul li:hover>a
{
  color: #0B0D0E;
  background-position: 0 -20px;
}

.rho-nav .rho-hmenu ul li a:hover span, .rho-nav .rho-hmenu ul li a:hover span span
{
  color: #0B0D0E;
}

.rho-nav .rho-hmenu ul li:hover>a span, .rho-nav .rho-hmenu ul li:hover>a span span
{
  color: #0B0D0E;
}

/* end MenuSubItem */

/* begin Layout */
.rho-content-layout
{
  display: table;
  position:relative;
  margin: 0 auto;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: Transparent;
  border: none !important;
  padding:0 !important;
  width:100%;
  margin-top:0;
  margin-bottom:0;
}
.rho-layout-cell, .rho-content-layout-row
{
  background-color: Transparent;
  vertical-align: top;
  text-align: left;
  border: none;
  margin:0;
  padding:0;
}

.rho-content-layout .rho-content-layout{margin:0;}
.rho-content-layout .rho-layout-cell, .rho-content-layout .rho-layout-cell .rho-content-layout .rho-layout-cell{display: table-cell;}
.rho-layout-cell .rho-layout-cell{display: block;}
.rho-content-layout-row {display: table-row;}
.rho-layout-glare{position:relative;}/* end Layout */

/* begin Box, Block, VMenuBlock */
.rho-vmenublock
{
  position: relative;
  min-width: 1px;
  min-height: 1px;
  margin: 10px;
}

.rho-vmenublock-body
{
  position: relative;
  padding: 0;
}

/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.rho-vmenublockheader
{
  margin-bottom: 0;
  position: relative;
  height: 29px;
}

.rho-vmenublockheader h3.t
{
  position: relative;
  height: 29px;
  color: #3C5927;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 13px;
  margin:0;
  padding: 0 10px 0 10px;
  white-space: nowrap;
  line-height: 29px;
}

.rho-vmenublockheader h3.t a,
.rho-vmenublockheader h3.t a:link,
.rho-vmenublockheader h3.t a:visited, 
.rho-vmenublockheader h3.t a:hover
{
  color: #3C5927;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 13px;
}

/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.rho-vmenublockcontent
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.rho-vmenublockcontent-body
{
  position: relative;
  padding: 0;
}

/* end Box, Box, VMenuBlockContent */

/* begin VMenu */
ul.rho-vmenu, ul.rho-vmenu li
{
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
  line-height: 0;
}

ul.rho-vmenu
{
  margin-top: 0; 
  margin-bottom: 0;
}

ul.rho-vmenu ul
{
  display: none;
  padding: 0;
    margin:0 0 0 0;
}

ul.rho-vmenu ul.active
{
  display: block;
}
/* end VMenu */

/* begin VMenuItem */
ul.rho-vmenu a
{
  position: relative;
  display: block;
  overflow: hidden;
  height: 28px;
  cursor: pointer;
  text-decoration: none;
}

ul.rho-vmenu li.rho-vmenu-separator
{
  display: block;
  padding: 2px 0 2px 0;
  margin: 0;
  font-size: 1px;
}

ul.rho-vmenu .rho-vmenu-separator-span
{
  display: block;
  padding: 0;
  font-size: 1px;
  height: 0;
  line-height: 0;
  border: none;
}

ul.rho-vmenu a .r, ul.rho-vmenu a .l
{
  position: absolute;
  display: block;
  top: 0;
  height: 94px;
  background-image: url('images/vmenuitem.png');
}

ul.rho-vmenu a .l
{
  left: 0;
  right: 7px;
}

ul.rho-vmenu a .r
{
  width: 1934px;
  right: 0;
  clip: rect(auto, auto, auto, 1927px);
}

ul.rho-vmenu a .t, ul.rho-vmenu ul a
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}

ul.rho-vmenu a .t
{
  display: block;
  position:relative;
  top:0;
  line-height: 28px;
  color: #465358;
  padding: 0 8px 0 8px;
  margin-left:0;
  margin-right:0;
}

ul.rho-vmenu a.active .l, ul.rho-vmenu a.active .r
{
  top: -66px;
}

ul.rho-vmenu a.active .t
{
  color: #1E5471;
}

ul.rho-vmenu a:hover .l, ul.rho-vmenu a:hover .r
{
  top: -33px;
}

ul.rho-vmenu a:hover .t
{
  color: #465358;
}

/* end VMenuItem */

/* begin VMenuSubItem */
ul.rho-vmenu ul li
{
  margin: 0;
  padding: 0;
}

ul.rho-vmenu ul a
{
  display: block;
  white-space: nowrap;
  height: 18px;
  overflow: visible;
  background-image: url('images/vsubitem.gif');
  background-position: 15px 0;
  background-repeat: repeat-x;
  padding: 0 0 0 32px;
  line-height: 18px;
  color: #394347;
  font-size: 11px;
  margin-left: 0;
}

ul.rho-vmenu ul ul li
{
  padding:0;
}

ul.rho-vmenu ul span, ul.rho-vmenu ul span span
{
  display: inline;
  float: none;
  margin: inherit;
  padding: inherit;
  background-image: none;
  text-align: inherit;
  text-decoration: inherit;
}

ul.rho-vmenu ul a:link, ul.rho-vmenu ul a:visited, ul.rho-vmenu ul a:hover, ul.rho-vmenu ul a:active, ul.rho-vmenu ul span, ul.rho-vmenu ul span span
{
  line-height: 18px;
  color: #394347;
  font-size: 11px;
  margin-left: 0;
}

ul.rho-vmenu ul ul
{
  margin:0 0 0 0;
}

ul.rho-vmenu ul li.rho-vsubmenu-separator
{ 
  display: block;
  margin: 0;
  font-size: 1px;
  padding: 1px 0 1px 0;
 }

ul.rho-vmenu ul .rho-vsubmenu-separator-span
{
  display: block;
  padding: 0;
  font-size: 1px;
  height: 0;
  line-height: 0;
  margin: 0;
  border: none;
}

ul.rho-vmenu ul li.rho-vmenu-separator-first
{
    margin-bottom:2px;
    padding-bottom:0;
}

ul.rho-vmenu ul li li a
{
  background-position: 30px 0;
  padding: 0 0 0 47px;
}

ul.rho-vmenu ul li li li a
{
  background-position: 45px 0;
  padding: 0 0 0 62px;
}

ul.rho-vmenu ul li li li li a
{
  background-position: 60px 0;
  padding: 0 0 0 77px;
}

ul.rho-vmenu ul li li li li li a
{
  background-position: 75px 0;
  padding: 0 0 0 92px;
}

ul.rho-vmenu ul li a.active
{
  color: #0D2430;
  background-position: 15px -46px;
}

ul.rho-vmenu ul li li a.active
{
  background-position: 30px -46px;
}

ul.rho-vmenu ul li li li a.active
{
  background-position: 45px -46px;
}

ul.rho-vmenu ul li li li li a.active
{
  background-position: 60px -46px;
}

ul.rho-vmenu ul li li li li li a.active
{
  background-position: 75px -46px;
}

ul.rho-vmenu ul li a:hover, ul.rho-vmenu ul li a:hover.active
{
  color: #394347;
  background-position: 15px -23px;
}

ul.rho-vmenu ul li li a:hover, ul.rho-vmenu ul li li a:hover.active
{
  background-position: 30px -23px;
}

ul.rho-vmenu ul li li li a:hover, ul.rho-vmenu ul li li li a:hover.active
{
  background-position: 45px -23px;
}

ul.rho-vmenu ul li li li li a:hover, ul.rho-vmenu ul li li li li a:hover.active
{
  background-position: 60px -23px;
}

ul.rho-vmenu ul li li li li li a:hover, ul.rho-vmenu ul li li li li li a:hover.active
{
  background-position: 75px -23px;
}
/* end VMenuSubItem */

/* begin Box, Block */
.rho-block
{
  position: relative;
  min-width: 1px;
  min-height: 1px;
  margin: 10px;
}

.rho-block-body
{
  position: relative;
  padding: 0;
}

div.rho-block img
{
/* WARNING do NOT collapse this to 'border' - inheritance! */
    border-color: #8E9EA4;
  border-style: solid;
  margin: 7px;
}

/* end Box, Block */

/* begin BlockHeader */
.rho-blockheader
{
  margin-bottom: 0;
  position: relative;
  height: 29px;
}

.rho-blockheader h3.t
{
  position: relative;
  height: 29px;
  color: #1A2711;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 13px;
  margin:0;
  padding: 0 11px 0 11px;
  white-space: nowrap;
  line-height: 29px;
}

.rho-blockheader h3.t a,
.rho-blockheader h3.t a:link,
.rho-blockheader h3.t a:visited, 
.rho-blockheader h3.t a:hover
{
  color: #1A2711;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 13px;
}

.rho-blockheader .l, .rho-blockheader .r
{
  position: absolute;
  height: 29px;
  background-image: url('images/blockheader.png');
}

.rho-blockheader .l
{
  left: 0;
  right: 9px;
}

.rho-blockheader .r
{
  width: 1920px;
  right: 0;
  clip: rect(auto, auto, auto, 1911px);
}

/* end BlockHeader */

/* begin Box, BlockContent */
.rho-blockcontent
{
  position: relative;
  margin: 0 auto;
  min-width: 19px;
  min-height: 19px;
}

.rho-blockcontent-body
{
  position: relative;
  padding: 6px;
  color: #242B2D;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 12px;
}

.rho-blockcontent-tr, .rho-blockcontent-tl, .rho-blockcontent-br, .rho-blockcontent-bl, .rho-blockcontent-tc, .rho-blockcontent-bc,.rho-blockcontent-cr, .rho-blockcontent-cl
{
  position: absolute;
}

.rho-blockcontent-tr, .rho-blockcontent-tl, .rho-blockcontent-br, .rho-blockcontent-bl
{
  width: 18px;
  height: 18px;
  background-image: url('images/blockcontent_s.png');
}

.rho-blockcontent-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 9px, 9px, auto);
}

.rho-blockcontent-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 9px, 9px);
}

.rho-blockcontent-bl
{
  bottom: 0;
  left: 0;
  clip: rect(9px, 9px, auto, auto);
}

.rho-blockcontent-br
{
  bottom: 0;
  right: 0;
  clip: rect(9px, auto, auto, 9px);
}

.rho-blockcontent-tc, .rho-blockcontent-bc
{
  left: 9px;
  right: 9px;
  height: 18px;
  background-image: url('images/blockcontent_h.png');
}

.rho-blockcontent-tc
{
  top: 0;
  clip: rect(auto, auto, 9px, auto);
}

.rho-blockcontent-bc
{
  bottom: 0;
  clip: rect(9px, auto, auto, auto);
}

.rho-blockcontent-cr, .rho-blockcontent-cl
{
  top: 9px;
  bottom: 9px;
  width: 18px;
  background-image: url('images/blockcontent_v.png');
}

.rho-blockcontent-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 9px);
}

.rho-blockcontent-cl
{
  left: 0;
  clip: rect(auto, 9px, auto, auto);
}

.rho-blockcontent-cc
{
  position: absolute;
  top: 9px;
  left: 9px;
  right: 9px;
  bottom: 9px;
  background-image: url('images/blockcontent_c.png');
}

.rho-blockcontent-body table,
.rho-blockcontent-body li, 
.rho-blockcontent-body a,
.rho-blockcontent-body a:link,
.rho-blockcontent-body a:visited,
.rho-blockcontent-body a:hover
{
  color: #242B2D;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 12px;
}

.rho-blockcontent-body p
{
  margin: 6px 0;
}

.rho-blockcontent-body a, .rho-blockcontent-body a:link
{
  color: #25698D;
  text-decoration: underline;
}

.rho-blockcontent-body a:visited, .rho-blockcontent-body a.visited
{
  color: #8899A0;
  text-decoration: underline;
}

.rho-blockcontent-body a:hover, .rho-blockcontent-body a.hover
{
  color: #56A7D2;
  text-decoration: none;
}

.rho-blockcontent-body ul li
{
  line-height: 125%;    
  color: #121517;
}/* end Box, BlockContent */

/* begin Button */
.rho-button-wrapper a.rho-button,
.rho-button-wrapper a.rho-button:link,
.rho-button-wrapper input.rho-button,
.rho-button-wrapper button.rho-button
{
  text-decoration: none;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  position:relative;
  top:0;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  color: #191D1F !important;
  width: auto;
  outline: none;
  border: none;
  background: none;
  line-height: 32px;
  height: 32px;
  margin: 0 !important;
  padding: 0 16px !important;
  overflow: visible;
  cursor: pointer;
}

.rho-button img, .rho-button-wrapper img
{
  margin: 0;
  vertical-align: middle;
}

.rho-button-wrapper
{
  vertical-align: middle;
  display: inline-block;
  position: relative;
  height: 32px;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.firefox2 .rho-button-wrapper
{
  display: block;
  float: left;
}

input, select, textarea
{
  vertical-align: middle;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}

.rho-block select 
{
    width:96%;
}

.rho-button-wrapper.hover .rho-button, .rho-button-wrapper.hover a.rho-button:link, .rho-button:hover
{
  color: #0B1E28 !important;
  text-decoration: none !important;
}

.rho-button-wrapper.active .rho-button, .rho-button-wrapper.active a.rho-button:link
{
  color: #DDE2E4 !important;
}

.rho-button-wrapper .rho-button-l, .rho-button-wrapper .rho-button-r
{
  display: block;
  position: absolute;
  height: 106px;
  margin: 0;
  padding: 0;
  background-image: url('images/button.png');
}

.rho-button-wrapper .rho-button-l
{
  left: 0;
  right: 12px;
}

.rho-button-wrapper .rho-button-r
{
  width: 413px;
  right: 0;
  clip: rect(auto, auto, auto, 401px);
}

.rho-button-wrapper.hover .rho-button-l, .rho-button-wrapper.hover .rho-button-r
{
  top: -37px;
}

.rho-button-wrapper.active .rho-button-l, .rho-button-wrapper.active .rho-button-r
{
  top: -74px;
}

.rho-button-wrapper input
{
  float: none !important;
}
/* end Button */

/* begin Box, Post */
.rho-post
{
  position: relative;
  min-width: 23px;
  min-height: 23px;
  margin: 5px;
}

.rho-post-body
{
  position: relative;
  padding: 18px;
}

.rho-post-tr, .rho-post-tl, .rho-post-br, .rho-post-bl, .rho-post-tc, .rho-post-bc,.rho-post-cr, .rho-post-cl
{
  position: absolute;
}

.rho-post-tr, .rho-post-tl, .rho-post-br, .rho-post-bl
{
  width: 30px;
  height: 30px;
  background-image: url('images/post_s.png');
}

.rho-post-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 15px, 15px, auto);
}

.rho-post-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 15px, 15px);
}

.rho-post-bl
{
  bottom: 0;
  left: 0;
  clip: rect(15px, 15px, auto, auto);
}

.rho-post-br
{
  bottom: 0;
  right: 0;
  clip: rect(15px, auto, auto, 15px);
}

.rho-post-tc, .rho-post-bc
{
  left: 15px;
  right: 15px;
  height: 30px;
  background-image: url('images/post_h.png');
}

.rho-post-tc
{
  top: 0;
  clip: rect(auto, auto, 15px, auto);
}

.rho-post-bc
{
  bottom: 0;
  clip: rect(15px, auto, auto, auto);
}

.rho-post-cr, .rho-post-cl
{
  top: 15px;
  bottom: 15px;
  width: 30px;
  background-image: url('images/post_v.png');
}

.rho-post-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 15px);
}

.rho-post-cl
{
  left: 0;
  clip: rect(auto, 15px, auto, auto);
}

.rho-post-cc
{
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background-image: url('images/post_c.png');
}

a img
{
  border: 0;
}

.rho-article img, img.rho-article, .rho-block img, .rho-footer img
{
  border: solid 0 #8E9EA4;
  margin: 5px;
}

.rho-metadata-icons img
{
  border: none;
  vertical-align: middle;
  margin: 2px;
}

.rho-article table, table.rho-article
{
  border-collapse: collapse;
  margin: 1px;
}

.rho-article th, .rho-article td
{
  padding: 2px;
  border: solid 1px #8E9EA4;
  vertical-align: top;
  text-align: left;
}

.rho-article th
{
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

pre
{
  overflow: auto;
  padding: 0.1em;
}

/* end Box, Post */

/* begin PostHeaderIcon */
h2.rho-postheader
{
  color: #323B3E;
  margin: 3px 0;
  font-size: 18px;
}

h2.rho-postheader a, 
h2.rho-postheader a:link, 
h2.rho-postheader a:visited,
h2.rho-postheader a.visited,
h2.rho-postheader a:hover,
h2.rho-postheader a.hovered
{
  font-size: 18px;
}

h2.rho-postheader a, h2.rho-postheader a:link
{
  text-align: left;
  text-decoration: none;
  color: #276C91;
}

h2.rho-postheader a:visited, h2.rho-postheader a.visited
{
  color: #66787F;
}

h2.rho-postheader a:hover,  h2.rho-postheader a.hovered
{
  text-decoration: underline;
  color: #429CCD;
}

/* end PostHeaderIcon */

/* begin PostBullets */
.rho-post ol, .rho-post ul
{
  margin: 1em 0 1em 2em;
  padding: 0;
}

.rho-post li
{
  font-size: 12px;
  color: #323B3E;
  padding: 0 0 0 22px;
}

.rho-post li ol, .rho-post li ul
{
  margin: 0.5em 0 0.5em 2em;
  padding: 0;
}

.rho-post ol>li
{
  background: none;
  padding-left: 0;
  /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.rho-post ul>li
{
  background-image: url('images/postbullets.png');
  background-repeat: no-repeat;
  padding-left: 22px;
  /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
  overflow-y: hidden;
}

/* end PostBullets */

/* begin PostQuote */
.rho-postcontent blockquote,
.rho-postcontent blockquote a,
.rho-postcontent blockquote a:link,
.rho-postcontent blockquote a:visited,
.rho-postcontent blockquote a:hover
{
  color: #050F14;
  text-align: left;
}

.rho-postcontent blockquote p
{
   margin: 5px 10px 10px;
}

.rho-postcontent blockquote
{
   border: solid 1px #A4B1B6;
  margin: 10px 10px 10px 50px;
  padding: 6px 6px 6px 43px;
  background-color: #BBC5C9;
  background-image: url('images/postquote.png');
  background-position: left top;
  background-repeat: no-repeat;
  /* makes blockquote not to align behind the image if they are in the same line */
  overflow: auto;
  clear:both;
}

/* end PostQuote */

/* begin Footer */
.rho-footer
{
  position: relative;
  margin-top:0;
  margin-bottom:0;
  width: 100%;
}

.rho-footer-b 
{
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  height:50px;
  background-image: url('images/footer_b.png');
}

.rho-footer-t
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;
  background-image: url('images/footer_t.png');
  background-position: left bottom;
}

.rho-footer-body
{
    position:relative;
    padding: 5px;
}

.rho-footer-text p
{
  padding:0;
  margin:0;
  text-align: center;
}

.rho-footer-text,
.rho-footer-text a,
.rho-footer-text a:link,
.rho-footer-text a:visited,
.rho-footer-text a:hover,
.rho-footer-text td, 
.rho-footer-text th,
.rho-footer-text caption
{
    color: #000000;
    letter-spacing: 1px;
}

.rho-footer-text
{
  min-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  float: left;
  left: 50%;
  text-align: center;
}

.rho-footer-text a,
.rho-footer-text a:link
{
  color: #30471F;
  text-decoration: underline;
}

.rho-footer-text a:visited
{
  color: #3B454A;
}

.rho-footer-text a:hover
{
  color: #3E5C28;
  text-decoration: none;
}

.rho-footer-center
{
  position: relative;
  float: right;
  right: 50%;
}

div.rho-footer img
{
/* WARNING do NOT collapse this to 'border' - inheritance! */
    border-width: 0;
    border-color: #8E9EA4;
  border-style: solid;
  margin: 7px;
}/* end Footer */

/* begin PageFooter */
.rho-page-footer, 
.rho-page-footer a,
.rho-page-footer a:link,
.rho-page-footer a:visited,
.rho-page-footer a:hover
{
  font-family: Arial;
  font-size: 10px;
  letter-spacing: normal;
  word-spacing: normal;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  color: #3B454A;
}

.rho-page-footer
{
  padding: 1em;
  text-align: center;
  text-decoration: none;
  color: #4B585D;
}
/* end PageFooter */

/* begin LayoutCell, sidebar1 */

.rho-content-layout .rho-sidebar1
{
  width: 200px;
}

/* end LayoutCell, sidebar1 */

/* begin LayoutCell, content */

/* end LayoutCell, content */


