p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 32px;
	color: #BBBBBB;
	leading: 4px;
	text-align:left;
}

a {
	color: #66CCFF;
	text-decoration: underline;
}

a:hover {
	color: #FFCC66;
	text-decoration: none;
}

.title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 38px;
	color: #FFFFFF;
	text-decoration:underline;
	text-align:left;
}

.subtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 34px;
	color: #CCFF66;
	text-align:left;
}

.highlight {
	color: #FFFF99;
}

.note {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 32px;
	color: #AADDDD;
}